tensorflow==2.3.0
gitdb==4.0.9
GitPython==3.1.18
seaborn==0.11.0
tqdm
numpy==1.18.4
scipy==1.4.1
nltk==3.5
torchvision==0.9.1
pandas==1.0.3
torchtext==0.4.0
tabulate==0.8.7
matplotlib==3.3.1
tensorflow_hub==0.10.0
termcolor==1.1.0
torch==1.8.1
iopath>=0.1.7
cloudpickle==1.6.0
flair==0.6.1.post1
docutils==0.15.2
spacy==3.3.0
spacy-transformers @ git+https://github.com/explosion/spacy-transformers@b0a9a0ac3085ae9a0228df2142ec51cde90dc12e
spacytextblob==3.0.1
opencv_python==4.4.0.42
ipython
PyYAML==5.4.1
recommonmark==0.7.1
scikit_learn==0.24.2
scikit-image
wordcloud==1.8.1
mysql-connector-python==8.0.21
Flask==1.1.2
sentence-transformers==2.0.0
hjson==3.0.2
transformers
vaderSentiment==3.3.2
Keras==2.3.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
sklearn==0.0